@mixin before_circle {
  &:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background: $main-color;
    border-radius: 100%;
    z-index: -1;
    top: -25%;
    left: 0;
  }
}

@mixin before_circle_small {
  &:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: $main-color;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
  }
}