.skills {
  padding-top: 120px;
  &__wrapper {
    display: grid;
    margin-top: 60px;
    padding: 0 10px;
    grid-template-columns: repeat(4, minmax(270px, auto));
    column-gap: 13px;
    row-gap: 13px;
  }
  &__container {
    border: 1px solid #000000;
    padding: 30px 30px 25px 30px;
  }
  &_img {
    display: flex;
    align-items: center;
    height: 65px;
  }
}
.title_fz14 {
  margin-top: 20px;
  margin-bottom: 0;
}

.title__fz12 {
  margin-top: 20px;
}

.percent {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, auto));
  grid-template-rows: repeat(2, minmax(60px, auto));
  grid-column-gap: 45px;
  grid-row-gap: 30px;
  &__block {
    position: relative;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    @include before_circle;
    &:before {
      top: 12px;
    }
  }
  &__line {
    &-grey {
      position: relative;
      width: 100%;
      height: 14px;
      background-color: #E8E4DE;
      margin-top: 20px;
    }
    &-orange {
      position: absolute;
      height: 14px;
      left: 0;
      background-color: $main-color;
    }
  }
}

.percentage {
  font-weight: 300;
}
